apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-b
  namespace: gopal-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-b
  template:
    metadata:
      labels:
        app: api-b
    spec:
      containers:
        - name: api-b
          image: IMAGE_API_B
          ports:
            - containerPort: 80
          env:
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: db-conn
                  key: host
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: db-conn
                  key: name
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: db-conn
                  key: user
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-conn
                  key: password
          readinessProbe:
            httpGet:
              path: /health
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 80
            initialDelaySeconds: 15
            periodSeconds: 20
---
apiVersion: v1
kind: Service
metadata:
  name: api-b-service
  namespace: gopal-app
spec:
  type: LoadBalancer
  selector:
    app: api-b
  ports:
    - port: 80
      targetPort: 80
