apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: my-api
  template:
    metadata:
      labels:
        app: my-api
    spec:
      containers:
      - name: my-api-container
        image: IMAGE_PLACEHOLDER
        ports:
        - containerPort: 80
        env:
        - name: DB_CONNECTION_STRING
          # Updated to match the new server name
          value: "Server=tcp:gopaldev-sql-server.database.windows.net,1433;Initial Catalog=GopalDev-db;User ID=adminuser;Password=ComplexPassword123!;"
---
apiVersion: v1
kind: Service
metadata:
  name: api-service
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 80
  selector:
    app: my-api