apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: my-api
  template:
    metadata:
      labels:
        app: my-api
    spec:
      containers:
      - name: my-api-container
        image: IMAGE_PLACEHOLDER  # The pipeline replaces this automatically 
        ports:
        - containerPort: 80
        env:
        # --- Database Configuration (PostgreSQL) ---
        - name: DB_HOST
          # Matches the Terraform resource name: prefix-env-psql
          value: "gopalproject-dev-psql.postgres.database.azure.com"
        - name: DB_NAME
          value: "GopalProject-db"
        - name: DB_USER
          value: "adminuser"
        - name: DB_PASSWORD
          value: "ComplexPassword123!"
---
apiVersion: v1
kind: Service
metadata:
  name: api-service
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 80
  selector:
    app: my-api