apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: my-api
  template:
    metadata:
      labels:
        app: my-api
    spec:
      containers:
      - name: my-api-container
        image: gopalwalia2025/my-api:v1 
        ports:
        - containerPort: 80
        env:
        - name: DB_HOST
          value: "gopalcloud-dev-db-server.postgres.database.azure.com"
        - name: DB_NAME
          value: "appdb"           # Changed from GopalProject-db
        - name: DB_USER
          value: "gopaladmin"      # Changed from adminuser
        - name: DB_PASSWORD
          value: "MyComplexPassword123!" # Changed from ComplexPassword123!
---
apiVersion: v1
kind: Service
metadata:
  name: api-service
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 80
  selector:
    app: my-api